<div class="row">

    <div class="thumbnail">
      <div class="jumbotron">
        <div class="container">
          <% img = ['test.png', 'test2.jpg', 'warehouse2.jpg', 'warehouse3.jpg'].sample %>
          <%= image_tag(img, size: "1000x300", class: "img-responsive") %>
        </div>
      </div>
      <div class="caption">
        <p><a href="/login" class="btn btn-primary" role="button">Events</a>
        <a href="/login" class="btn btn-default" role="button">Login</a>
        <a href="/users/new" class="btn btn-default" role="button">Signup</a>
          <% if current_user && current_user.is_owner %><a href="/warehouses/new" class="btn btn-default">Post a Warehouse</a><% end %>
        </p>
      </div>
    </div>

</div>
<table class="container">
<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="..." alt="...">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="..." alt="...">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="..." alt="...">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="..." alt="...">
    </a>
  </div>
</div>

</table>
